@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">¡Bienvenido a nuestro restaurante!</h1><br />
    <h3 class="display-4">PEYACLUB</h3><hr /><br />
    <p>@ViewBag.mensaje</p>
</div>